In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pykalman import KalmanFilter
from datetime import datetime
# from statsmodels.nonparametric.smoothers_lowess import lowess

In [2]:
def to_float(x):
    return float(x)

In [3]:
def get_csv(filename):
#     column_name = ['time', 'x_accel', 'y_accel', 'z_accel', 'total_accel']
    column_name = ['time', 'x_accel', 'y_accel', 'z_accel']
    raw_data = pd.read_csv(filename, names=column_name, header=None) 
    raw_data = raw_data.drop(0)
    raw_data['time'] = raw_data['time'].apply(to_timestamp)
    raw_data['time'] = raw_data['time']-raw_data['time'][1]
    raw_data['x_accel'] = raw_data['x_accel'].apply(to_float)
    raw_data['y_accel'] = raw_data['y_accel'].apply(to_float)
    raw_data['z_accel'] = raw_data['z_accel'].apply(to_float)
    
    return raw_data

In [4]:
def to_timestamp(x):
    x = datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f')
    return datetime.timestamp(x)

In [5]:
raw_data1 = get_csv("data/Jordan_ankle_left_1.csv")
raw_data2 = get_csv("data/Jordan_ankle_left_2.csv")
raw_data3 = get_csv("data/Jordan_ankle_left_3.csv")
raw_data4 = get_csv("data/Jordan_ankle_right_1.csv")
raw_data5 = get_csv("data/Jordan_ankle_right_2.csv")
raw_data6 = get_csv("data/Jordan_ankle_right_3.csv")
raw_data7 = get_csv("data/Jordan_hand_left_1.csv")
raw_data8 = get_csv("data/Jordan_hand_left_2.csv")
raw_data9 = get_csv("data/Jordan_hand_left_3.csv")
raw_data10 = get_csv("data/Jordan_hand_right_1.csv")
raw_data11 = get_csv("data/Jordan_hand_right_2.csv")
raw_data12 = get_csv("data/Jordan_hand_right_3.csv")

In [6]:
raw_data1

       time  x_accel  y_accel  z_accel
1     0.000    -0.00     0.02     0.03
2     0.100    -0.02     0.01     0.04
3     0.200     0.02    -0.00    -0.02
4     0.300     0.02     0.01     0.01
5     0.400     0.01     0.02     0.01
..      ...      ...      ...      ...
656  65.533    -0.06    -0.01    -0.01
657  65.634    -0.03    -0.00    -0.04
658  65.734    -0.02     0.01    -0.03
659  65.834    -0.02     0.00    -0.03
660  65.934    -0.01    -0.00    -0.08

[660 rows x 4 columns]

In [7]:
raw_data1 = raw_data1[raw_data1['time'] < 30]
raw_data2 = raw_data2[raw_data2['time'] < 30]
raw_data3 = raw_data3[raw_data3['time'] < 30]
raw_data4 = raw_data4[raw_data4['time'] < 30]
raw_data5 = raw_data5[raw_data5['time'] < 30]
raw_data6 = raw_data6[raw_data6['time'] < 30]
raw_data7 = raw_data7[raw_data7['time'] < 30]
raw_data8 = raw_data8[raw_data8['time'] < 30]
raw_data9 = raw_data9[raw_data9['time'] < 30]
raw_data10 = raw_data10[raw_data10['time'] < 30]
raw_data11 = raw_data11[raw_data11['time'] < 30]
raw_data12 = raw_data12[raw_data12['time'] < 30]

In [8]:
mean1 = raw_data1.mean().tolist()
mean2 = raw_data2.mean().tolist()
mean3 = raw_data3.mean().tolist()
mean4 = raw_data4.mean().tolist()
mean5 = raw_data5.mean().tolist()
mean6 = raw_data6.mean().tolist()
mean7 = raw_data7.mean().tolist()
mean8 = raw_data8.mean().tolist()
mean9 = raw_data9.mean().tolist()
mean10 = raw_data10.mean().tolist()
mean11 = raw_data11.mean().tolist()
mean12 = raw_data12.mean().tolist()

In [9]:
std1 = raw_data1.std().tolist()
std2 = raw_data2.std().tolist()
std3 = raw_data3.std().tolist()
std4 = raw_data4.std().tolist()
std5 = raw_data5.std().tolist()
std6 = raw_data6.std().tolist()
std7 = raw_data7.std().tolist()
std8 = raw_data8.std().tolist()
std9 = raw_data9.std().tolist()
std10 = raw_data10.std().tolist()
std11 = raw_data11.std().tolist()
std12 = raw_data12.std().tolist()

In [10]:
mean_frames = [mean1, mean2, mean3, mean4, mean5, mean6, mean7, mean8, mean9, mean10, mean11, mean12]
std_frames = [std1, std2, std3, std4, std5, std6, std7, std8, std9, std10, std11, std12]
col = ['time', 'x_accel', 'y_accel', 'z_accel']
results_mean = pd.DataFrame(mean_frames, columns=col)
results_std = pd.DataFrame(std_frames, columns=col)
results_mean['tester'] = 3
results_std['tester'] = 3
results_mean.to_csv("p3-mean.csv")
results_std.to_csv("p3-std.csv")

In [11]:
results_mean

         time   x_accel   y_accel   z_accel  tester
0   14.957907  0.054267  0.256200 -0.020433       3
1   14.958060  0.050600  0.268600 -0.083300       3
2   14.957763  0.113367  0.318067 -0.060400       3
3   14.957907 -0.117467  0.380900 -0.079133       3
4   14.958310 -0.056800  0.353600 -0.068133       3
5   14.960420 -0.053767  0.358833 -0.098933       3
6   14.958103  0.051400  0.043067 -0.034200       3
7   14.957687  0.039600  0.034500 -0.039667       3
8   14.958103  0.027100  0.036200 -0.033200       3
9   14.958113 -0.061933  0.026067 -0.048200       3
10  14.957483 -0.058200  0.038900 -0.050067       3
11  14.957160 -0.052067  0.041133 -0.058567       3

In [12]:
results_std

        time   x_accel   y_accel   z_accel  tester
0   8.679160  0.891784  0.546471  0.316028       3
1   8.679114  0.977097  0.597061  0.311726       3
2   8.679395  1.033484  0.711333  0.388314       3
3   8.679064  1.165667  0.586808  0.374179       3
4   8.679247  1.045425  0.579647  0.463425       3
5   8.680261  1.108711  0.610415  0.388790       3
6   8.679314  0.288114  0.273034  0.157761       3
7   8.679132  0.283746  0.280696  0.170588       3
8   8.679097  0.262837  0.254484  0.142821       3
9   8.679277  0.309382  0.290664  0.130940       3
10  8.679196  0.334637  0.282791  0.131271       3
11  8.678839  0.298060  0.269909  0.138408       3